<!DOCKTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebBlog</title>
    <link rel="stylesheet" href="login.css">

</head>
<body>
    <div class="container">
        <form action="">
            <h1 style="color:blue;">Login To Create</h1>
            <h2><p style="color:green;">Username:* <input type="email" name="username" placeholder="example@gmail.com" required ></p></h2>
            <h2><p style="color:green;">Password:* <input type="password" name="password" placeholder="A@har12h" size="8" required></p></h2>
            <p><input type="submit" value="Login"></p>
            <nav>
                <a href="http://127.0.0.1:8000/blog/register/" target="http://127.0.0.1:8000/blog/register/" >Click here to register</a>
            </nav>

        </form>
    </div>

</body>
</html>